ul.list-unstyled
  - @questions.each do |question|
    li id="question-#{question.id}"
      .question-summary
        .container-fluid
          .col-sm-1
            .row
              .votes.text-center
                | <span class="vote-count-post"><strong>#{question.score}</strong></span><br />
                .viewcount #{'vote'.pluralize(question.score)}
            .row
              - if question.answers.count > 0
                .status.text-center.answered
                  | <strong>#{question.answers.count}</strong><br />#{'answer'.pluralize(question.answers.count)}
              - else
                .status.text-center
                  | <strong>#{question.answers.count}</strong><br />#{'answer'.pluralize(question.answers.count)}

            .row
              .views.text-center= pluralize(question.impressionist_count, 'view')
          .col-sm-11
            h4= link_to question.title, question_path(question)
            p= truncate(question.body, length: 180)
            .post-taglist= raw tag_links(question.all_tags)
        - if user_signed_in? && question.user_id.to_s == current_user.id.to_s
          .row
            .col-md-offset-10.col-md-2.col-sm-offset-10.col-sm-2text-center
              = link_to 'Delete', question_path(question), method: :delete, remote: true, class: 'delete-question', data: {question_id: question.id, confirm: 'Are you sure?'}
.col-md-12.text-center= paginate @questions