- @question.answers.each do |answer|
  - if answer.persisted?
    .answer id="answer-#{answer.id}"
      .answer-content.panel.panel-default
        .panel-body
          p= markdown(answer.content)
          ul
            - answer.attachments.each do |a|
              li= link_to a.file.identifier, a.file.url, style: 'word-break: break-word;'
          - if user_signed_in? && answer.user_id.to_s == current_user.id.to_s
            ul.list-inline
              li
                p= link_to 'Edit', '', class: 'edit-answer-link', data: { answer_id: answer.id }
              li
                p= link_to 'Delete', answer_path(answer), class: 'delete-answer', data: { answer_id: answer.id, confirm: 'Are you sure?' }, method: :delete, remote: true
              = form_for answer, remote: true, html: { id: "edit-answer-#{answer.id}"} do |f|
                .form-group
                  = f.label :content, 'Answer'
                  = f.text_area :content, class: 'form-control', rows: 3
                .form-group
                  = f.submit 'Save', class: 'btn btn-primary'
                  = button_tag 'Cancel', :type => 'button', id: 'cancel-button', class: 'btn btn-default'
      .comments.col-md-offset-2.panel.panel-default
        .panel-body
          = render 'comments/list', parent: answer