- if @question.persisted?
  h2= @question.title
  hr
  div.panel.panel-default
    div.panel-body
      .row
        .col-md-1
          .vote_controls
            span.vote_up
              -if user_signed_in?
                = link_to vote_up_icon, question_vote_up_path(@question), method: :patch, remote: true
              -else
                = vote_up_icon
              span.rating = @question.score
              span.vote_down
                -if user_signed_in?
                  = link_to vote_down_icon, question_vote_down_path(@question), method: :patch, remote: true
                -else
                  = vote_down_icon
        .col-md-11= markdown(@question.body)
      .post-taglist= raw tag_links(@question.all_tags)
      - if user_signed_in? && @question.user_id.to_s == current_user.id.to_s
        p= link_to 'Edit', '', class: 'edit-question-link', data: { question_id: @question.id }
        = form_for @question, remote: true, html: { id: "edit-question-#{@question.id}"} do |f|
          .form-group
            = f.label :title
            = f.text_field :title, class: 'form-control'
          .form-group
            = f.label :body, 'Edit your question'
            = f.text_area :body, class: 'form-control', rows: 5
          .form-group
            = f.label :tags
            = f.text_field :all_tags, placeholder: 'Tags separated by comma', class: 'form-control'
          .form-group
            = f.submit 'Save', class: 'btn btn-primary'
      ul
        - @question.attachments.each do |a|
          li= link_to a.file.identifier, a.file.url, style: 'word-break: break-word;'