.row
= form_for @question do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
    = f.label :body
    = f.text_area :body, class: 'form-control'
    = f.label :tags
    = f.text_field :all_tags, placeholder: 'Tags separated by comma', class: 'form-control'
    p Attachments:
    p
      = f.fields_for :attachments, @question.attachments.build do |a|
        = a.label :file
        = a.file_field :file, multiple: true, name: 'question[attachments_attributes][][file]'
  = f.submit 'Create', class: 'btn btn-primary'