.question-body
  = render 'questions'
  .comments.col-md-offset-1.panel.panel-default
    .panel-body
      = render 'comments/list', parent: @question
hr
.answers
  = render 'answers'
hr
- if user_signed_in?
  = form_for [@question, @answer], remote: true do |f|
    .form-group
      = f.label :content, 'Your answer'
      .answer-errors
      = f.text_area :content, class: 'form-control'
      = f.fields_for :attachments, @answer.attachments.build do |a|
        = a.label :file
        = a.file_field :file, multiple: true, name: 'answer[attachments_attributes][][file]'
    = f.submit 'Create', class: 'btn btn-primary'

/Subscribing to question channel. URL can be anything
= subscribe_to "/questions/#{@question.id}/answers"