<% if @question.errors.present? %>
<% @question.errors.full_messages.each do |message| %>
$('.question-errors').html('<%= j message %>');
<% end %>
<% else %>
$('.question-body').html('<%= j render 'questions/questions' %>');
<% end %>