.row
  ul.list-unstyled
    /= render parent.comments
    - parent.comments.each do |comment|
      li id="comment-#{comment.id}"
        .col-md-10= markdown(comment.body)
        - if user_signed_in?
          .col-md-2= link_to 'Delete', comment_path(comment), method: :delete, data: {confirm: 'Are you sure?'}, remote: true
- if user_signed_in?
  .add-comment-area
    p
      = link_to 'add a comment', '', class: 'add-comment-link'
    =form_for [parent, parent.comments.build], remote: true do |f|
      .form-group
        = f.label :body, 'Comment'
        = f.text_area :body, class: 'form-control', rows: 2
      .form-group
        = f.submit 'Post comment', class: 'btn btn-primary'
- else
  = link_to 'add a comment', new_user_session_path
