var parentSelector = '<%= @parent.is_a?(Question) ? '.question-body' : "#answer-#{@parent.id}" %>';
$(parentSelector + ' .comments').html('<div class="panel-body"><%= j render 'list', parent: @parent %></div>');