h1 Search
= form_tag search_index_path, method: :get, class: 'form-inline', role: 'search' do |f|
    = text_field_tag :search, '', placeholder: 'search', class: 'form-control large-search-input'
    | &nbsp;
    = select_tag(:type, options_for_select([['All', 'ThinkingSphinx'],['Question','Question'], ['Answer', 'Answer'], ['Comment', 'Comment']]), class: 'form-control')
    | &nbsp;
    = submit_tag 'Find', class: 'btn btn-primary'
h3= pluralize(@found_objects.count, 'result')
hr
-if @found_objects.empty?
  p
    | Your search returned no matches.
-else
  ul.list-unstyled
    - @found_objects.each do |obj|
      li
        .question-summary
          h4= link_to obj.show_title, obj.show_object
          - search_body = excerpt(highlight(obj.show_body, @search_term, highlighter: '<strong>\1</strong>'), @search_term)
          div= search_body.nil? ? truncate(obj.show_body, length: 180) : search_body.html_safe
.col-md-12.text-center= paginate @found_objects