<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-group') do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>


  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit 'Log in', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
