// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_question  {
  display: none;
}

div p{
  word-wrap: break-word;
}