// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.match {
  font-weight: bold;
}

.question-summary {
  padding: 12px 0 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.form-inline .form-control.large-search-input{
  width: 70%;
}