.post-tag {
  background: none repeat scroll 0 0 #e4edf4;
  border: 1px solid #e4edf4;
  border-radius: 0;
  color: #3e6d8e;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin: 2px 2px 2px 0;
  padding: 0.4em 0.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.post-taglist {
  clear: both;
  margin-bottom: 10px;
}

.post-tag:hover {
  text-decoration: none;
  background-color: #dae6ef;
  border: 1px solid #dae6ef;
  color: #3e6d8e;
}



