// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.votes {
  color: #777;
  font-size: 11px;
  padding: 0;
  margin-bottom: 8px;
}

.vote-count-post {
  font-size: 20px;
  margin: 0 0 3px 0;
}

.vote_controls {
  display: block;
  text-align: center;
}

.vote_controls .rating {
  display: block;
  text-align: center;
}