= form_tag search_index_path, method: :get, class: 'navbar-form navbar-right', role: 'search' do |f|
  .form-group
    = text_field_tag :search, '', placeholder: 'search', size: 20, class: 'form-control input-sm'
    | &nbsp;
    = select_tag(:type, options_for_select([['All', 'ThinkingSphinx'],['Question','Question'], ['Answer', 'Answer'], ['Comment', 'Comment']]), class: 'form-control input-sm')